
@font-face {
    font-family: 'eveAlpha';
    src: url("../fonts/eve-webfont.woff2") format("woff2"), url("../fonts/eve-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: 'eveAlpha';
}

footer.footer {
    font-family: 'Arial';
    font-size: 18px;
}

.modal-body {
    font-family: 'Arial';
}

.font-alpha {
    font-family: 'eveAlpha';
}

a:link {
    color: #8FC1E3;
}

a:link.xmpp {
    color: #dc7325;
}

i.fas, i.far, i.fal {
    margin-left: 5px;
}

.fa-status i {
    padding-right: 5px;
}