/* Import Variables*/
/*@import 'variables.scss';*/

/* Import Bootstrap Theme */
@import 'animate.scss';
@import 'jquery.scrollbar.scss';


/* Theme */
@import 'Theme.scss';
@import 'fonts.scss';
@import 'FormControl.scss';

/* Custom Styles */
@import 'PilotSelect.scss';
@import 'SideBar.scss';

.bg-defuse, .side-panel {
    background-color: #111315;
}

.side-panel > .panel-heading {
    font-family: eveAlpha;
    font-weight: 600;
    background-color: #111112;
    text-align: center;
    padding: 13.5px;
    color: white;
}

.side-panel > .panel-body {
    padding: 1px 10px 10px 10px;
}

body {
    background-image: linear-gradient( #1113157d, #1113157d ), 
        url(/images/main_dark.png);
}


.alliance, .corporation, .pilot {
    font-size: large;
    padding-bottom: 20px;
}

.alliance a, .corporation a, .pilot a {
    padding-left: 5px;
    font-size: medium;
}

.badge.role {
    background-color: #dc3545;
    color: #fff;
    margin: .25rem .5rem .25rem .5rem;
    padding: .5rem;
}

.pilot {
    display: inline-block;
    margin-bottom: .5rem;
    padding: 0px .25rem 0px .25rem;
}

// Buttons
button.close{
    color: whitesmoke;
}

button.close:hover, button.close:active {
    color: white;
}

.btn {
    color: white;
    border-radius: 0;
    font-family: "Arial Unicode MS";
}

.btn-success {
    background-color: #38C63D;
}

.btn-danger {
    background-color: #C92E2E;
}

.btn-dark {
    background-color: #090A0A;
}

.btn-warning {
    background-color: #DC7325;
}

.mumble{
    font-size: x-large;
}