<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="Eve Online, Imperium Incursions Squad, Incursions, Waitlist">
    <meta name="description" content="The Waitlist for the Imperium Incursion Squad. Login to the waitlist to join our fleets.">
    <meta name="author" content="Samuel Grant, samuel_the_terrible, Caitlin Viliana">
    <!-- Stop Google from automatically detecting the page language -->
    <meta name="google" content="notranslate">

    <title>@ViewData["Title"]</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/app.min.css" />
    @*<link rel="stylesheet" href="~/dist/bundle.css" />*@
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta name="theme-color" content="#d67500" />
</head>
    <body data-sa-theme="1" style="background-image: url('/images/main.jpg');">
        <main class="main">
            <!-- Page loading animation -->
            <div class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <!-- Page loading animation -->

            <!-- Top Navbar -->
            <header class="header">
                <div class="navigation-trigger" data-sa-action="aside-open" data-sa-target=".sidebar">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo hidden-sm-down">
                    <h1><a href="/">Imperium Incursions</a></h1>
                </div>
                <form class="search">
                    <div class="search__inner">
                        <input type="text" class="search__text" placeholder="Search for pilot or accounts...">
                        <i class="fas fa-search search__helper"></i>
                    </div>
                </form>
                <div class="clock hidden-md-down">
                    <div class="time">
                        <span class="time__hours"></span>
                        <span class="time__min"></span>
                        <span class="time__sec"></span>
                    </div>
                </div> 
                <div class="clock hidden-md-down">
                    <div class="time">
                        <span class="time__hours"></span>
                        <span class="time__min"></span>
                        <span class="time__sec"></span>
                    </div>
                </div>
            </header>
            <!-- End Top Navbar -->

            <!-- Side Navbar -->
            <aside class="sidebar sidebar--hidden">
                <div class="scrollbar-inner">
                    <div class="user">
                        <div class="user__info" data-toggle="dropdown">
                            <img class="user__img" src="https://imageserver.eveonline.com/Character/96304094_64.jpg" alt="Caitlin Viliana">
                            <div>
                                <div class="user__name">Caitlin Viliana</div>
                                <div class="user__email">samuel_the_terrible</div>
                            </div>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">View Profile</a>
                            <a class="dropdown-item" href="">Settings</a>
                            <a class="dropdown-item" href="">Logout</a>
                        </div>
                    </div>
                    <ul class="navigation">
                        <li class="@@indexactive"><a href="index.html"><i class="zmdi zmdi-home"></i> Home</a></li>
                        <li class="navigation__sub navigation__sub--active navigation__sub--toggled">
                            <a href=""><i class="zmdi zmdi-view-week"></i> Variants</a>
                            <ul>
                                <li class="@@sidebaractive"><a href="hidden-sidebar.html">Hidden Sidebar</a></li>
                                <li class="@@boxedactive"><a href="boxed-layout.html">Boxed Layout</a></li>
                                <li class="navigation__active"><a href="hidden-sidebar-boxed-layout.html">Boxed Layout with Hidden Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="@@typeactive"><a href="typography.html"><i class="zmdi zmdi-format-underlined"></i> Typography</a></li>
                        <li class="@@widgetactive"><a href="widgets.html"><i class="zmdi zmdi-widgets"></i> Widgets</a></li>         
                    </ul>
                </div>
            </aside>
            <!-- End Side Navbar -->

            <section class="content content--full">
                <div class="content__inner">
                    <header class="content__title">
                        <h1>@ViewData["Title"]</h1>
                        <small>@ViewData["SubTitle"]</small>
                    </header>
                    <div class="row quick-stats">
                        @* Render Body Here *@
                        @RenderBody()
                    </div>
                    

                    <!-- Footer -->
                    <footer class="footer hidden-xs-down">
                        <p>Imperium Incursions &copy; 2019. All rights reserved.</p>
                        <ul class="nav footer__nav">
                            <a class="nav-link" href="https://goonfleet.com/index.php/topic/258379-incursion-squad-rules-policies/" target="_blank">Squad Rules</a>
                            <a class="nav-link" href="https://goonfleet.com/index.php/topic/261158-incursion-squad-fittings/" target="_blank">Squad Fittings</a>
                            <a class="nav-link" href="https://goonfleet.com/index.php/topic/259285-new-pilot-guide/" target="_blank">New Pliot Guide</a>
                            <a class="nav-link" href="">Legal Disclaimer</a>
                            <a class="nav-link" href="">FC Team</a>
                        </ul>
                    </footer>
                    <!-- End Footer -->
                </div>
            </section>
        </main>



        <!-- Site Javascript & React -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="~/app.min.js"></script>
        <script src="~/js/functions/app.js"></script>
        <script src="~/js/functions/vendors.js"></script>
        @*<script src="~/dist/bundle.js"></script>*@
    </body>
</html>