<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="Eve Online, Imperium Incursions Squad, Incursions, Waitlist">
    <meta name="description" content="The Waitlist for the Imperium Incursion Squad. Login to the waitlist to join our fleets.">
    <meta name="author" content="Samuel Grant, samuel_the_terrible, Caitlin Viliana">
    <!-- Stop Google from automatically detecting the page language -->
    <meta name="google" content="notranslate">

    <title>@ViewData["Title"]</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/dist/bundle.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta name="theme-color" content="#d67500" />
</head>
    <body data-sa-theme="1" style="background-image: url('/images/main.jpg');">
        <main class="main">
            <!-- Page loading animation -->
            <div class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <!-- Page loading animation -->          

            @{ await Html.RenderPartialAsync("_Nav.cshtml");}

            <!-- Main Page -->
            <section class="content content--full">
                <div class="content__inner">
                    <header class="content__title">
                        <h1>@ViewData["Title"]</h1>
                        <small>@ViewData["SubTitle"]</small>
                    </header>

                    <!-- Body Content -->
                    <div class="row quick-stats">
                        @RenderBody()
                    </div>
                    <!-- End Body Content -->
                    
                    <!-- Footer -->
                    <footer class="footer hidden-xs-down">
                        <p>Imperium Incursions &copy; 2019. All rights reserved.</p>
                        <ul class="nav footer__nav">
                            <a class="nav-link" href="https://goonfleet.com/index.php/topic/258379-incursion-squad-rules-policies/" target="_blank">Squad Rules</a>
                            <a class="nav-link" href="https://goonfleet.com/index.php/topic/261158-incursion-squad-fittings/" target="_blank">Squad Fittings</a>
                            <a class="nav-link" href="https://goonfleet.com/index.php/topic/259285-new-pilot-guide/" target="_blank">New Pliot Guide</a>
                            <a class="nav-link" href="">Legal Disclaimer</a>
                            <a class="nav-link" href="">FC Team</a>
                        </ul>
                    </footer>
                    <!-- End Footer -->
                </div>
            </section>
            <!-- End Main Page -->
        </main>

        <!-- Site Javascript & React -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="~/dist/bundle.js"></script>
    </body>
</html>