@{
    if (Context.Request.Cookies["prefPilot"] != null)
    {
        string[] pilot = Context.Request.Cookies["prefPilot"].Split(':');

        <!-- Top Navbar -->
    <header class="header header--scrolled">
        <div class="navigation-trigger" data-sa-action="aside-open" data-sa-target=".sidebar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo hidden-sm-down">
            @*<h1>*@
            <a href="/">
                <img class="mainlogo" src="~/images/imperium_incursions_logo.png" alt="Imperium Incursions Logo" />
            </a>
            @*</h1>*@
        </div>
        <form class="search">
            <div class="search__inner">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Commander") || User.IsInRole("Leadership"))
                {
                    <input id="nav_search" type="text" class="search__text" accesskey="s" placeholder="Search by pilot or account name...">
                    <i class="fas fa-search search__helper"></i>
                }
            </div>
        </form>
        <div id="tqClock"></div>
        <div id="tqStatus"></div>
    </header>
        <!-- End Top Navbar -->
        <!-- Side Navbar -->
        <aside class="sidebar sidebar--hidden">
            <div class="scrollbar-inner">
                <div class="user">
                    <div class="user__info" data-toggle="dropdown">
                        <img class="user__img" src="@string.Format("https://imageserver.eveonline.com/Character/{0}_64.jpg", pilot[0])" alt="@pilot[1]">
                        <div>
                            <div class="user__name">@pilot[1]</div>
                            <div class="user__email">@User.FindFirst("name").Value.Replace(' ', '_')</div>
                        </div>
                    </div>
                </div>
                <ul class="navigation">
                    <li><a href="/pilot-select"><i class="fas fa-user-friends"></i> Manage Pilots</a></li>
                    <li><a href="/account-settings"><i class="fas fa-clipboard-list"></i> Fittings &amp; Skills</a></li>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Commander") || User.IsInRole("Leadership"))
                    {
                        <!-- Leadership Functions -->
                        <li class="_lowerLine"></li>
                        <li><a href="/admin/bans"><i class="fas fa-gavel"></i> Ban Management</a></li>
                        <li><a href="/admin/commanders"><i class="fa fa-users-cog"></i> User Management</a></li>
                        <li><a data-toggle="modal" data-target="#announcmentBannersModal"><i class="fas fa-pennant"></i> Announcments</a></li>

                        @if (User.IsInRole("Leadership"))
                        {
                            <li><a href="/admin/settings"><i class="fas fa-tools"></i> System Settings</a></li>
                        }
                        <!-- End Leadership Functions -->
                    }

                    <!-- Logout -->
                    <li>
                        <div class="fixed-bottom">
                            <a href="/auth/gice/logout"><i class="fas fa-sign-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- End Side Navbar -->
    }
}