@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@if (User.Identity.IsAuthenticated)
{
    <p>Greetings @User.FindFirst("name").Value,</p>
    <p>Your Goonfleet ID is @User.FindFirst("id").Value.</p>
}

<div id="app" />




