
@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h1>403</h1>
<h3 class="mb-4">You are not allowed to access this page.</h3>
<a class="btn btn-outline-warning" href="/">Go Home</a>