
@{
    ViewData["Title"] = "Somethng went Wrong";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h1>Woops!</h1>
<h3>Something went wrong.</h3>
<a class="btn btn-outline-warning" href="/">Go Home</a>