
@{
    ViewData["Title"] = "Authentication Failure";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h1>Something went wrong</h1>
<h3 class="mb-4">We were unable to log you in.</h3>
<a class="btn btn-outline-warning" href="/">Try to Login</a>
<a class="btn btn-outline-warning" href="/auth/eve">Add a Pilot</a>